
/* fonts */

// $Serif:;
// $SansSerif:;

/* colors */

$nav: rgba(0, 0, 0, 0.8); 

$primary-color: rgb(247, 231, 233); 
$link: #c2faf0;
$card: #d0fff6;
$card-alt: #ffe3ea;
$black: rgba(39, 38, 38, 0.9);

/* styles */

$frame: solid 10px white;
